<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</title>
</head>
<body>

<h1>{{.Name}}</h1>
<h2>{{.Age}}</h2>
{{if .Kill}}
<h3>Kill Confirm</h3>
{{else}}
<h3>No Kill</h3>
{{end}}
</body>
</html>