<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset ="UTF-8">
    <title>Piplining</title>
</head>
<body>

{{.}}  <!--Shows entered value -->

{{. | d}}  <!--Double the value -->

{{. | d | s}} <!-- Double and the square-->

{{.| d | s | sr}} <!-- Double square and sqroot-->

<!-- This is called piplining-->
</body>
</html>